body {
  margin: 0;
}

/*.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color:  #30ACFF;
  height: ;
}

.navbar-header {
  background-color:  ;
}*/

.top-bar {
  background: #0078a0;
  height: 45px;
  margin-bottom: -40px;
  font-size: 18px;
  font-weight: bold;

}

.top-bar-section li.active:not(.has-form) a:not(.button){
  background: #0078a0;
  font-size: 18px;
  font-family: 'Duru Sans', sans-serif;
  font-weight: bold;
}

.top-bar-section li:not(.has-form) a:not(.button){
   font-size: 18px;
   background: #0078a0;
   font-family: 'Duru Sans', sans-serif;
}

.top-bar-section li:not(.has-form) a:not(.button):hover{
  background: rgba(48, 172, 255, 1);
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover{
  background: rgba(48, 172, 255, 1);
}

.top-bar-section ul {
  background: none;
  color: rgb(255,255,255, 0.9);
}

.top-bar-section ul.dropdown li a:hover:not(.button) {
    background: none repeat scroll 0 0 rgba(48, 172, 255, .9);
}

.top-bar-section ul.dropdown {
    background: #333;
    color: #fff;
}

.top-bar-section .has-dropdown > a:after {
    border-color: rgba(0, 0, 0, 1) transparent transparent;
    margin-top: 2.5px;
}

/*
a:link {color:#0000FF;}      
a:visited {color:#0000FF;}  
a:hover {color:#FFFF00;}  
*/
.top_div_wrapper {
  background-color: #C5EFF7;
  width: 100%;
  height: 660px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  background: url('images/top_background.png');
 /* background-size: cover;
  background-position: center;*/
}

#my_pic {
  border-radius:  50%;
  height: 500px;
  width: 450px;
  margin-top: 10px;
  border: 2px solid white;
}

#pageTitle {
  padding-top: 10px;
  font-size: 70px;
  font-family: 'Bangers', cursive;
  letter-spacing: 5px;
  text-align: center;
}

.introduction h5 {
  font-size: 50px;
  font-family: 'Duru Sans', sans-serif;
/*  font-family: 'Playfair Display SC', serif;
*/}

.introduction {
  margin-top: 70px;
  font-weight: bold;
/*  background-color: #C5EFF7;
*/}

.about_me {
  background-image: url('images/fresh_snow.png');
  width: 100%;
  height: 620px;
  margin-top: -40px;
}

.about_me_text_div {
  border-radius: 5px;
  width: 60%;
  text-align: justify;
  margin: 40px auto;
/*  color: #0000FF;
*/  line-height: 30px;
  font-family: 'Actor', sans-serif;
}

.about_me_text {
  font-size: 20px;
}

.project_wrapper {
  margin-top: -5px;
  background-image: url(images/old_map.png);
}

/*.project_wrapper h3 {
  color: white;
}
*/
/*.projectimgs {
  height: 270px;
  width: 400px;
}*/

.project {
  border: 1px groove black;
  padding: 20px;
  background: rgba(0, 0, 0, .1);
  font-family: 'Duru Sans', sans-serif;
  border-radius: 5px;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Duru Sans', sans-serif;
  text-align: center;
}

div.project a {
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .introduction h5 {
    font-size: 30px;
  }

  .top_div_wrapper {
    height: 690px;
  }

  .introduction {
    margin-top: 25px;
  }

   #my_pic {
    width: 350px;
    height: 200px;
  }

}


@media only screen and (max-width: 1024px) {

  .top-bar .name h1 a {
    background: #0078a0;
  }

  .top-bar .title-area {
    background: #0078a0;
  }

  /* Makes the responsive menu fit in the navigation container and change its background to black */
  .top-bar ul {
      background-color: rgba(0, 0, 0, 0.5);
  }

  /* Change non active menu item color to black */
  .top-bar-section ul li > a {
      color: #fff;
  }

  /* Gives the dropdown ul a black fill */
  .top-bar-section ul {
      background: #000;
  }

  /* Give the BACK button after going in a submenu the appropriate filling */
  .top-bar-section .dropdown li.title h5 a {
      line-height: 57px;
  }

  /* This fixes the position and the color of the dropdown arrow */
  .top-bar-section .has-dropdown > a:after {
      border-color: rgba(255, 255, 255, 1) transparent transparent;
      margin-top: 2.5px;
  }

  #pageTitle {
    font-size: 50px;
  }

  #my_pic {
    height: 300px;
    width: 250px;
  }

  .top_div_wrapper {
    width: 100%;
    height: 420px;
  }

  .about_me {
    height: 1200px;
  }

  .introduction h5 {
    font-size: 20px;
    margin-top: 50px;
  }

   .top_div_wrapper {
    height: 480px;
  }

  .introduction {
    margin-top: -45px;
  }
 
} /* end media query */


@media only screen  and (min-device-width : 320px) and (max-device-width : 568px) { 
 .top-bar .name h1 a {
    background: #0078a0;
  }

  .top-bar .title-area {
    background: #0078a0;
  }

  /* Makes the responsive menu fit in the navigation container and change its background to black */
  .top-bar ul {
      background-color: rgba(0, 0, 0, 0.5);
  }

  /* Change non active menu item color to black */
  .top-bar-section ul li > a {
      color: #fff;
  }

  /* Gives the dropdown ul a black fill */
  .top-bar-section ul {
      background: #000;
  }

  /* Give the BACK button after going in a submenu the appropriate filling */
  .top-bar-section .dropdown li.title h5 a {
      line-height: 57px;
  }

  /* This fixes the position and the color of the dropdown arrow */
  .top-bar-section .has-dropdown > a:after {
      border-color: rgba(255, 255, 255, 1) transparent transparent;
      margin-top: 2.5px;
  }

  #pageTitle {
    font-size: 50px;
  }

  #my_pic {
    height: 300px;
    width: 250px;
  }

  .top_div_wrapper {
    width: 100%;
    height: 420px;
  }

  .about_me {
    height: 1000px;
  }

  .introduction h5 {
    font-size: 20px;
    margin-top: 50px;
  }

   .top_div_wrapper {
    height: 480px;
  }

  .introduction {
    margin-top: -45px;
  }

    .introduction h5 {
    font-size: 30px;
  }

  .top_div_wrapper {
    height: 690px;
  }

  .introduction {
    margin-top: 25px;
  }

   #my_pic {
    width: 350px;
    height: 200px;
  }
 
}


