body {
  background-color: #ecf0f1;
}

header {
  width: 100%;
  height: 50px;
}

header ul {
  list-style-type:none;
  float: right;
}

header li {
  display:inline;
  margin: 3px;
  font-size: 18px;

}
header h3 {
  float: left;
}

a:link {color:#0000FF;}      
a:visited {color:#0000FF;}  
a:hover {color:#47A3FF;}  

#pageTitle {
  margin-top: 30px;
}

